<div id="banner" class="container-fluid">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <ng-container *ngFor="let movie of bannerResult; let i = index">
        <div
          class="carousel-item"
          data-bs-interval="10000"
          *ngIf="movie.original_title"
          [ngClass]="{ active: i === 1 }"
        >
          <img
            src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
            class="d-block w-100"
            alt="..."
          />
          <app-movie-details [movie]="movie"></app-movie-details>
        </div>
      </ng-container>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
